html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif
}

a.active {
  background-color: gray;

}

a:hover {
    background-color: yellow;
}

nav{background-color:dimgrey;
    height:45px;
    position: fixed;
}
